@media (max-width:640px){
  #pMain{padding-bottom:calc(24px + var(--safe-b))!important}
  #pMain .menu .btn:last-child{margin-bottom:0}
  #pHall .e-body{display:flex;flex-direction:column}
  #lobby #hallList{flex:1 1 auto;display:flex;flex-direction:column;overflow:auto}
  #lobby #hallList li{flex:none}
  #lobby #hallList:after{content:"";flex:1 0 0;min-height:0;border:solid var(--c);border-width:0 2px;background:repeating-linear-gradient(to top,transparent 0 90px,var(--c) 90px 92px)}
  #lobby #pHall.pane .e-bar{margin-top:0}
  #lobby #pHall.pane h3{border-bottom-width:0}
}
