#mSet .e-body{display:flex;flex-direction:column}
#mSet .e-body>.note{flex:1 0 auto;display:flex;align-items:flex-end;justify-content:center;margin:0!important;padding:14px;border:2px solid var(--c);border-top:0;opacity:1!important}
#mSet .e-body>.note span{opacity:.7}
